@media (max-width: 1000px) {
  .top__hamburger {
    display: none;
  }

  .heading__title {
    font-size: 40px;
    line-height: 49px;
  }

  .section__title {
    font-size: 32px;
    line-height: 39px;
  }
  .section__content {
    font-size: 14.4px;
    line-height: 24px;
    margin: 26px 0 32px;
  }

  .section__link {
    font-size: 12px;
    line-height: 20px;
  }

  .card__title {
    font-size: 28px;
    line-height: 35px;
  }

  .card__content {
    font-size: 16px;
    line-height: 23px;
    margin-top: 16px;
    width: 70%;
  }
}

@media (max-width: 850px) {
  .section__content {
    margin: 16px 0;
  }
}

@media (max-width: 780px) {
  .section {
    flex-direction: column;
  }

  .top {
    height: 70vh;
    align-items: center;
  }

  .top__header {
    padding: 0px 24px;
  }

  .top__hamburger {
    display: flex;
  }

  .top__hamburger--active {
    display: flex;
    opacity: 0.5;
  }

  .mobile-nav--active {
    display: flex;
  }

  .mobile-nav::before {
    display: flex;
  }

  .desktop-nav {
    display: none;
  }

  .heading__title {
    font-size: 40px;
    line-height: 49px;
    margin: 85px 32px;
  }

  .heading__arrow {
    margin-top: 50px;
  }

  .section__reversed {
    flex-direction: column-reverse;
  }

  .section__wrapper--wrapper {
    width: 100%;
    height: 50vh;
    text-align: center;
  }
  .section__wrapper {
    width: 90%;
  }

  .section__image {
    width: 100%;
  }

  .section__title {
    font-size: 32px;
    line-height: 39px;
  }
  .section__content {
    font-size: 14.4px;
    line-height: 24px;
    margin: 26px 0 32px;
  }

  .card__wrapper {
    width: 100%;
    height: 50vh;
    background-size: 100%;
  }

  .testimonial {
    margin-top: 64px;
    padding: 0 24px;
  }

  .testimonial__wrapper--wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0px;
  }

  .testimonial__wrapper {
    width: 100%;
    margin-top: 64px;
  }

  .testimonial__content {
    margin-top: 32px;
  }

  .testimonial__author {
    margin-top: 32px;
  }

  .gallery {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 86px;
  }

  .gallery__image {
    width: 50%;
  }

  .bottom__menu {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .card__wrapper {
    background-size: cover;
  }
}
@media (max-width: 420px) {
  .mobile-nav {
    max-width: unset;
    width: calc(100% - 2 * 24px);
  }
}
